@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius:1rem;
  }
   
  .dark {
    --background:0 0% 0%;
    --foreground:0 0% 100%;
    --background-base: 0 0% 7%;
    --background-highlight: 0 0% 10%;
    --background-elevated-base: 0 0% 14%;
    --background-elebated-highlight: 0 0% 16%;
  
    --card:24 9.8% 10%;
    --card-foreground:0 0% 95%;
  
    --popover:0 0% 9%;
    --popover-foreground:0 0% 95%;
  
    --primary:141 76% 48%;
    --primary-foreground:144.9 80.4% 10%;
  
    --secondary:240 3.7% 15.9%;
    --secondary-foreground:0 0% 98%;
  
    --muted:0 0% 15%;
    --muted-foreground:240 5% 64.9%;
  
    --accent:12 6.5% 15.1%;
    --accent-foreground:0 0% 98%;
  
    --destructive:0 62.8% 30.6%;
    --destructive-foreground:0 85.7% 97.3%;
  
    --border:240 3.7% 15.9%;
    --input:240 3.7% 15.9%;
    --ring:142.4 71.8% 29.2%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}